body {
    font-family: "Inter", sans-serif;
    color:#212121;
    font-weight: 400;
}
dl,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:#222222;
}

a:hover{
    text-decoration: none;
}
.paddy{
    padding-top: 150px;
}

.grey{
    color:#B9B9B9;
}
.green{
    color:#7A9D69;
}
.label1{
font-family: 'Satoshi';
font-size: 16px;
font-weight: 900;
line-height: 20px;
letter-spacing: 0.16em;
color:#4DCC9C;
}
.label2{
 font-family: 'Satoshi';
font-size: 12px;
font-weight: 900;
line-height: 15.6px;
letter-spacing: 3px;
color:#A59F8F;
}
.label3{
font-size: 10px;
font-weight: 600;
line-height: 10.4px;
letter-spacing: 0.1em;
}
.statement1{
font-size: 26px;
font-weight: 400;
line-height: 33.8px;
letter-spacing: 0.01em;
}
.statement2{
font-size: 24px;
line-height: 31px;
letter-spacing: -0.03em;
color:#CED9D5
}
.custom-button a {
    display: inline-block;
    text-align: center;
    border: 1px solid #034A2F;
    padding:14px 20px;
    font-family: 'Satoshi';
font-size: 12px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0.26em;
color:#034A2F;
}
h2{
font-size: 50px;
font-weight: 400;
line-height: 62.5px;
letter-spacing: -0.03em;
}
h3{
font-size: 22px;
font-weight: 400;
line-height: 28.6px;
letter-spacing: -0.01em;
}
h4{
/* font-family: Gambarino; */
font-size: 24px;
font-weight: 400;
line-height: 24.96px;
}
.bodyp{
    font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
max-width: 30ch;
}
.link{
font-size: 12px;
font-weight: 600;
line-height: 12.48px;
letter-spacing: 0.27em;
color:#034A2F
}
/* header starts */
.navigation{
    position: absolute;
    top:0;
    left:0;
    width:100%;
     transform: translateY(-100%);
  transition: transform 0.5s ease;  
  z-index:99999
  
  
}
.nav-list li a{
    font-family: "Instrument Sans", sans-serif;
font-size: 14px;
line-height: 15px;
letter-spacing: 0.05em;
color:#555555;
}
.inner-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list li a:hover{
    color:#034A2F;
    text-decoration: underline;
}
.coloured {
    background-color: #034A2F;  
}
.coloured a{
    font-family: 'GeneralSans';
font-size: 12px;
font-weight: 600;
line-height: 12px;
letter-spacing: 0.26em;
color:#fff;
}
.nav-list{
    column-gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20.5px;
}
/* header ends */
/* banner starts */




.bannertext h1{
font-size: 266px;
line-height: 279px;
letter-spacing: -0.03em;

/* font-size: 144px;
font-weight: 400;
line-height: 151px;
letter-spacing: -0.03em; */
}
.bannertext2{
    overflow: hidden;
    font-size: 96px;
line-height: 96px;
letter-spacing: -0.07em;
color:#90B180;
}
.text1 {
    transform: translateX(-400px);
    transition: transform 0.5s ease;  
}
.text2{
    transform: translateX(550px);
    transition: transform 0.5s ease;  
}
.banner-in{
    position: relative; 
    
}
.inner-banner{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    row-gap: 158px;
     padding: 63px 0; 
    
}
.bannertext{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.banner-top{ 
    display: flex;
    flex-direction: column; 
    row-gap: 42px;
    padding-top: 20px;
}
.banner-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.bb-left p{
font-family: "Instrument Sans", sans-serif;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.02em;
color:#656565;
max-width: 53ch;

}
.bb-left{
    display: flex;
    flex-direction: column; 
    row-gap: 40px;
    transform: translateY(140px);
  transition: transform 0.5s ease;  
}
.bb-right{
    transform: translateY(140px);
  transition: transform 0.5s ease; 
}
.bannertext2{
    display: flex;
    column-gap: 12rem;
    padding-top: 151px;
}
.bannerimg{
    position: absolute;
    width: 140px;
    height: 70px;
    left: 625px;
    top: 253px;
}
.bannerimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}





/* banner ends */
/* segment starts */
.ellipse{
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #7A9D69;
    padding: 3px;
}
.segment-in{
    background-color:#D3E4CB;
}
.segment-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 82px;
    padding:23px 0;
}
.sr-bottom a{
 font-family: 'Satoshi';
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.09em;
color:#FFFFFF;
text-decoration: underline;
}
.sr-top{
    max-width: 45ch;
}
.silent-in{
    display: flex;
    justify-content: space-between;
    padding-top: 151px;
    padding-bottom: 182px;
}
.silent-right{
    display: flex;
    flex-direction: column;
    row-gap: 112px;
}
/* segment ends */
/* accomplishment starts */
.acctop{
font-size: 69.71px;
font-weight: 400;
line-height: 73.19px;
letter-spacing: 0.01em;
color:#034A2F;
text-align: center;
}
.acctop span{
    font-size: 34px;
    font-weight: 400;
    line-height: 35.7px;
    letter-spacing: 0.01em;
}
.accbottom{
font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
text-align: center;
color:#034A2F;
}
.accomplishment-in{
    background: #F4F2EC;
}
.inner-acc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 81px;
    padding: 60px 0;
}
.acc-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   column-gap: 120px;
}
/* accomplishment ends */
/* solutions starts */
.st-top{
    color:#BFBFBF;
}
.st-bottom p{
    max-width: 50ch;
}
.soltop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 39px;
}
.sb-top h2{
    /* font-family: Gambarino; */
 font-size: 60px;
font-weight: 400;
line-height: 62.4px; 
}
.sb-top p{
 font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
max-width: 56ch;
}
.inner-sol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 120px;
}
.sb-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}
.tick{
    background: #E4D19F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}
.pcontent p{
font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
max-width: 25ch;
color:#555555;
}
.point{
    display: flex;
    align-items: flex-start;
    column-gap: 22px;
}
.sol-points{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 36px;
}
.solbottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 66px;
}
.sbb-left{
    display: flex;
    flex-direction: column;
    row-gap: 68px;
}
.solimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sb-bottom{
    display: flex;
    padding-left: 40px;
    column-gap: 129px;
}
.graphcont p{
font-size: 18px;
font-weight: 400;
line-height: 21.96px;
letter-spacing: -0.03em;
text-align: center;
color:#034A2F;
max-width: 28ch;
}
.graphcont{
    background-color: #E0ECE7;
    padding: 36px 26px;
}
.sbbr-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 11px;
    position: relative;
}
.solimg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 390px;
}
/* solutions ends */
/* Work starts */

.work-top p{
 font-family: "Instrument Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.02em;
max-width: 46ch;
color:#656565;
}
.work-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}
.rule-top{
    /* font-family: Gambarino; */
font-size: 49px;
font-weight: 400;
line-height: 50.96px;
}
.ruleb1{
font-family: 'Satoshi';
font-size: 12px;
font-weight: 700;
line-height: 14.64px;
letter-spacing: 0.11em;
}
.ruleb2{
    color:#555555;
}
.rule{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}
.rule-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 24px;
}
.wb-centre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.inner-work{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 102px;
}
.work-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 80px;
}
/* Work Ends */
/* stories starts */
.stories-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.story-bottom{
font-family: 'Satoshi';
font-size: 10px;
font-weight: 700;
line-height: 10.4px;
letter-spacing: 0.12em;
color:#9E9D9A;
display: flex;

column-gap: 270px;
}
.story-top-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.story-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 24px;
}
.inner-story{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 98px;
}
.stories-bottom{
    display: flex;
    justify-content: space-between;
}
.story-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 17px;
}
.inner-stories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 80px;
}
.story{
    border: 1px solid #E8E8E8;
    padding: 28px 52px 20px 25px;
    /* padding: 28px 34px 20px 34px; */
}
.link-arrow{
    background-color: #034A2F;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story:hover{
    background: #034A2F;
}
.story:hover .story-content h3 {
    color: #fff;
}
.story:hover .story-content p{
    color: #fff;
}
.story:hover .story-bottom-left {
    color: #98B2A9;
}
.story:hover  .story-bottom-right{
    color: #98B2A9;
}
.story:hover .link-arrow{
    background-color: #fff;
}
.story:hover .link-arrow img{
    filter: brightness(0);
}
/* stories ends */
/* Blog Page starts */
.blog-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-top-left{
    max-width: 41ch;
}
.blog1{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    row-gap: 20px;
}
.blogimg{
    /* width: 404px; */
    height: 205px;
}
.blogimg img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.blog1-bottom{
    height: calc(100% - 205px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-content p{
    color:#8B8B8B;
    max-width: 33ch;
}
.blog-label{
    margin: 22px 0;
}
.bloghead{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 16px;
    height: 100%;
}
.blog-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 33px;
}
.blog-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 22px;
}
.inner-blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 70px;
}
/* Blog Page Ends */
/* faq page starts */
.faqimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.faq-left{
    width: 40%;
    min-height: 100vh;
    position: relative;
}
/* faq page ends */